{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}比邻圈 - 加入{{ group.name }}的成员{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ group.name }}的成员</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>成员</th><th>加入时间</th></tr></thead>
    {% for user_info in users_info %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = user_info.user.username) }}">
                <img style="width: 50px; height: 50px;"  class="img-circle" src="{{ url_for('static',filename=user_info.user.medium_avatar) }}">
                {{ user_info.user.username }}
            </a>
        </td>
        <td>{{ moment(user_info.timestamp).format('L') }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, id = group.id) }}
</div>
{% endblock %}